{% load static %}
<!DOCTYPE HTML>
<html lang = "tw">
	<head>
		<title>Ghanaian Local Songs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'lyrics\assets\css\main1.css' %}" />
		<noscript><link rel="stylesheet" href="{%static 'lyrics\assets\css\noscript.css' %}" /></noscript>
		<script>  
			function setTitleLyrics(song_title, song_lyrics){
				document.getElementById('song_title').innerHTML = song_title;
				document.getElementById('lyrics').innerHTML = song_lyrics;
				closeNav();
			}
			function openNav() {
				document.getElementById("sidebar").style.width = "400px";
				document.getElementById("intro").style.marginLeft = "400px";
				document.getElementById("sidebar").style.padding = "2.5em 2.5em 0.5em 2.5em" ;
			}

			/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
			function closeNav() {
				document.getElementById("sidebar").style.width = "0";
				document.getElementById("intro").style.marginLeft = "0";
				document.getElementById("sidebar").style.padding = "0 0 0 0" ;
			}
		</script>
	</head>
	<body class="is-preload">
		
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						
						<h2><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
							<h2 style = "text-align: center;">&times;</h2></a>Songs</h2>
						<ul>
							{% for song in song %}			
								<li>
									<a href = "#" onclick="setTitleLyrics('{{song.title}}', '{{song.lyrics}}')">
										{{song.title}}
									</a>			
								</li>
                            {% endfor %}
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">
				<div id = "songsList">
					<button class="openbtn" onclick="openNav()">&#9776; Song List </button>
				</div>

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h2 id = "song_title">{{song.0.title}}</h2>
							<p id = "lyrics">{{song.0.lyrics}}</p>
						</div>
					</section>
			</div>

				

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Author: Jefferson and Bernard</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'lyrics/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'lyrics/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'lyrics/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'lyrics/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'lyrics/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'lyrics/assets/js/util.js' %}"></script>
			<script src="{% static 'lyrics/assets/js/main.js' %}"></script>

	</body>
</html>